body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

hr {
  border: dotted #5b6d5b 6px;
  border-bottom: none;
  width: 3%;
  margin: 100px auto;
}

h1 {
  color: #91091e;
  margin: 50px auto 0 auto;
  font-family: "Cinzel", serif;
  font-size: 562.5%;
}

h2 {
  color: #91091e;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #e40017;
}

p {
  color: #40514e;
  line-height: 2;
}

a {
  color: #f4c983;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  font-weight: bold;
}

a:hover {
  color: #eaf6f6;
}

.top-container {
  background-color: #c39e5c;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.myButton {
  box-shadow: 0px 10px 14px -7px #000000;
  background-color: #c39e5c;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #000000;
}
.myButton:hover {
  background-color: #91091e;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.bottom-container {
  background-color: #c39e5c;
  position: relative;
  padding: 50px 0 20px;
}

.a-chad {
  font-weight: normal;
}

.chad {
  font-weight: bold;
}

.skill-row {
  width: 50%;
  margin: 100px auto 50px auto;
  text-align: left;
}

.founding-titan {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.attack-titan {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.war-hammer-titan {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 10px 0;
}

.eren-face {
  width: 25%;
}

.aot-logo {
  width: 20%;
  position: fixed;
  left: 10px;
  top: 10px;
}

.eren-ages {
  margin: 65px 20px 140px;
  object-fit: cover;
  width: 300px;
  height: 200px;
}

.young {
  object-position: -20% 0;
  position: relative;
  bottom: 50px;
}

.teen {
  position: relative;
  top: 50px;
}

.old {
  object-position: -20% 0;
}
